<h1>New Post</h1>

<hr>

<%= form_for @post, html: { multipart: true } do |f| %>
  <div id="choose_file">
    <%= f.label :image, required: true %>
    <%= f.file_field :image, required:true %>
  </div>
  <br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br>
  <%= f.submit %>

<% end %>
